@import "./../../style/variables.scss";

.Projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2.5%;
}
.Title {
    color : $yellow;
    text-align: center;
    border-bottom:  1.5px solid $white;
    width: fit-content;
   margin: auto;
}
@media screen and (max-width :792px) {
    .Projects {
      display: grid;
      justify-content: center;
    }
  }
  