@import "./../../style/variables.scss";

.Main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $white;
}
.Photo {
  width: 50%;
  height: 100%;
  border-radius: 34% 49% 68% 46% / 36% 43% 45% 53%;
  box-shadow: 2px 3px 39px 3px rgba(255, 255, 255, 0.42);
}
.PhotoContainer {
  align-items: center;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 100%;
}
.Content {
  display: inline;
  padding: 2.5%;
  width: 100%;
  p {
    text-align: justify;
    width: 100%;
  }
  h1 {
    color : $yellow;
  }
  h3 {
    color :$brown
  }
}

.box {
  width: 50vmin;
  height: 50vmin;
  border: 1px dashed $yellow;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed $brown;
    transform: scale(1.42);
  }
}

.spinContainer {
  width: 100%;
  height: 100%;
  animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 90%;
  height: 90%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 120%;
  height: 120%;
  position: absolute;
  left: -15%;
  top: -15%;
  background: url("./../../photos/photoBeji.jpg");
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@media screen and (max-width: 792px) {
  .Main {
    display:flex;
    flex-flow: column;
  }
  .PhotoContainer {
    order: 1;
  }
  .Content {
    order: 2;
    text-align: center;
    margin-top: 5%;
  }
}
