.SectionTitle {
  font-size: 20px;
  margin-top: 1em;
  text-align: center;
}
.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 15px;
}
.underTitle {
  margin: 1em auto;
}
