@import "./../../style/variables.scss";
.proContainer {
  background-color: #014ca6;
  border-radius: 6px;
  overflow: hidden;
  padding: 2em;
  position: relative;
}

.Title {
  font-size: 18px;
  font-weight: 800;
  margin-top: 2em;
}
.description {
  margin: 1em 0;
  font-size: 12px;
}
.techno {
  font-size: 10px;
  background-color: $purple-color;
  padding: 0.5em 1em;
  border-radius: 75px;
}
.TopProject {
  display: flex;
  justify-content: space-between;
  svg {
    width: 50px;
  }
}
.Links {
  display: flex;
  align-items: center;
  gap: 15px;
  svg {
    width: 25px;
  }
}
.TechnoList{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 5px 10px;
}