// $dark-black: #13181b;
// $green-dark: #2a2a17;
// $gray: #404138;
// $yellow: #edb852;
// $brown: #5a3e1e;
// $white : #fff;

$purple-color : #2155CD;
$dark-green : #0AA1DD;
$Green-color : #79DAE8;
$Green-color-low : rgba(79, 211, 196,0.4);
$light-green : #C1F8CF;
$padding-container : 1.5em 4em;