@import "./../../style/variables.scss";


.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-container;
    position: fixed !important;
    width: 100%;
    height: 100px;
    background:linear-gradient(180deg, $purple-color , rgba(0, 0, 0, 0) );
    z-index: 1;
    padding-bottom: 0;
    padding-top: 0;
    animation-duration: 1.3s; /* don't forget to set a duration! */
}

.TitleLogo {
    color: $Green-color;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    a {
        color: $Green-color;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    text-decoration: none; 
    }
}

.Menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2em;
    list-style: none;

    a {
        color: $dark-green ;
        text-decoration: none;
        transition: 0.3s ease-in;
        font-size: 13px;
        width: 100%;
        height: 100%;
        display: block;

        span {
            color: $Green-color;
        }
    }

    a:hover {
        color: $Green-color;

    }
}

.MyCV {
    background-color: transparent;
    color: $Green-color;
    border-color: transparent;
    padding: 0.45em 1.25em;
    font-size: 13px;
    border-radius: 5px;
    border: 2.5px solid;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in;
}

.MyCV:hover {
    transition: 0.5s ease-in-out;
    background: $Green-color-low
}
@media screen and (max-width : 852px) {
    .Menu {
        display: none;
    }
    .NavBar {
        padding: 0 1em;
    }
}